.idea/
local-config.php

*.log
.htaccess
sitemap.xml
sitemap.xml.gz

wp-content/advanced-cache.php
wp-content/cache/
wp-content/wp-cache-config.php

wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/plugins/hello.php

# wp-content/uploads/
# wp-config.php

/readme.html
/license.txt

