#page-wrapper {
  margin-top: 20px;
}

.wp-media-buttons {
  float: right;
  margin-bottom: 0.5rem;
}

.panel-group .panel-heading {
  padding-bottom: 0;
}

.post-summary .post-meta,
.posts-box-3 .post-summary,
.type-page .post-content{
  margin-bottom: 0;
}

.post-content a {
  &:link {
    color: #f2132d;
  }

  &:visited {
    color: #AC0E21;
  }

  &:hover {
    text-decoration: underline;
  }
}

body:not(.barcelona-fimg-cl) .sidebar-right .post-content .barcelona-sc-accordion h4:first-child {
  margin-bottom: 0;
  transform: translateY(6px);
}

.screen-reader-text {
  display: none;
}

.media-modal {
  height: 50%;
  width: 360px;
  top: 25% !important;
  margin-left: auto;
  margin-right: auto;
}

.media-sidebar {
  width: 100% !important;
  height: 100% !important;
  bottom: initial !important;
  max-width: 100% !important;
}

.attachments-browser > .media-toolbar,
.attachments-browser > .attachments,
.attachment-details > h2,
.attachment-details > label,
.attachment-details .details {
  display: none !important;
}

.attachment-info {
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  padding-bottom: 0 !important;

  .thumbnail,
  .thumbnail img {
    max-width: 300px !important;
    max-height: 300px !important;
  }

  .thumbnail {
    margin-left: 10px !important;
  }
}

#page-wrapper > .fimg-media {
  padding-top: 235px !important;
}

.fimg-media .featured-image .post-meta {
  margin-top: 15px;
}

#main,
#sidebar .sidebar-widget:last-of-type {
  padding-bottom: 20px;
}

.no-breadcrumb #page-wrapper > .container:nth-of-type(1) {
  padding-top: 300px;
}

.post-summary .post-meta {
  z-index: 3;
}

.post-summary .post-image > a img {
  height: 212px;
  object-fit: cover;
}

.posts-box-related-posts article:not(.psum-featured) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-logo {
    height: 180px;
    line-height: 180px;
    width: 400px;
  }

  .panel-title a .inner {
    width: 100%;
  }

  .fimg-wrapper:not(.fimg-cl):not(.fimg-no-thumb) + .single-container {
    padding-top: 30px;
  }

  body:not(.barcelona-fimg-cl) .sidebar-right .post-content:not(.box-description) h1:first-child, body:not(.barcelona-fimg-cl) .sidebar-right .post-content:not(.box-description) h2:first-child, body:not(.barcelona-fimg-cl) .sidebar-right .post-content:not(.box-description) h3:first-child, body:not(.barcelona-fimg-cl) .sidebar-right .post-content:not(.box-description) h4:first-child, body:not(.barcelona-fimg-cl) .sidebar-right .post-content:not(.box-description) h5:first-child, body:not(.barcelona-fimg-cl) .sidebar-right .post-content:not(.box-description) h6:first-child {
    transform: none;
  }
}