.backfeed-tooltip {
  cursor: help;
  position: relative; }
  .backfeed-tooltip:hover .backfeed-tooltip-content {
    opacity: 1; }

.backfeed-tooltip-content {
  opacity: 0;
  transition: opacity .5s linear;
  position: absolute;
  top: 0;
  left: -20px;
  transform: translateX(-25%);
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #8c8c8c;
  border-radius: 10px;
  pointer-events: none; }
  .backfeed-tooltip-content p {
    margin-bottom: 10px; }

.backfeed-tooltip-content:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #8c8c8c transparent;
  display: block;
  width: 0; }

#page-wrapper {
  margin-top: 20px; }

.wp-media-buttons {
  float: right;
  margin-bottom: 0.5rem; }

.panel-group .panel-heading {
  padding-bottom: 0; }

.post-summary .post-meta,
.posts-box-3 .post-summary,
.type-page .post-content {
  margin-bottom: 0; }

.post-content a:link {
  color: #f2132d; }
.post-content a:visited {
  color: #AC0E21; }
.post-content a:hover {
  text-decoration: underline; }

body:not(.barcelona-fimg-cl) .sidebar-right .post-content .barcelona-sc-accordion h4:first-child {
  margin-bottom: 0;
  transform: translateY(6px); }

.screen-reader-text {
  display: none; }

.media-modal {
  height: 50%;
  width: 360px;
  top: 25% !important;
  margin-left: auto;
  margin-right: auto; }

.attachments-browser > .media-toolbar,
.attachments-browser > .media-sidebar {
  display: none; }

#page-wrapper > .fimg-media {
  padding-top: 235px !important; }

.fimg-media .featured-image .post-meta {
  margin-top: 15px; }

#sidebar .sidebar-widget:last-of-type {
  padding-bottom: 20px; }

@media only screen and (min-width: 768px) {
  .navbar-logo {
    height: 180px;
    line-height: 180px;
    width: 400px; }

  .panel-title a .inner {
    width: 100%; } }
.backfeed-featured-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 292px;
  padding-left: 15px;
  margin-right: 0;
  position: relative;
  background: url("../images/homepage-banner.jpg") no-repeat;
  background-origin: content-box;
  background-size: cover; }
  .backfeed-featured-section .bf-fa-close {
    position: absolute;
    top: 12px;
    right: 30px;
    color: white;
    font-size: 22px;
    cursor: pointer; }
  .backfeed-featured-section .backfeed-featured-section-titles {
    text-align: center;
    color: white; }
  .backfeed-featured-section .backfeed-featured-section-title {
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase; }
    @media only screen and (min-width: 544px) {
      .backfeed-featured-section .backfeed-featured-section-title {
        font-size: 40px; } }
    @media only screen and (min-width: 768px) {
      .backfeed-featured-section .backfeed-featured-section-title {
        margin-bottom: 5px;
        font-size: 50px;
        font-weight: normal; } }
  .backfeed-featured-section .backfeed-featured-section-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px; }
    @media only screen and (min-width: 544px) {
      .backfeed-featured-section .backfeed-featured-section-subtitle {
        font-size: 20px; } }
  .backfeed-featured-section .btn {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 14px;
    border: 4px solid white; }
    .backfeed-featured-section .btn:hover {
      color: black;
      background: white; }

#page-wrapper > .container:nth-of-type(1).backfeed-featured-section-container {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 29px; }

.gform_wrapper {
  margin-bottom: 0 !important; }
  .gform_wrapper .gfield_description {
    font-size: 13px;
    color: grey; }
  .gform_wrapper .gform_footer input[type="submit"] {
    padding: 5px 15px;
    border: none;
    text-transform: uppercase;
    font-weight: bold !important;
    background-color: #cc1919;
    color: #fff; }
    .gform_wrapper .gform_footer input[type="submit"]:focus {
      outline: 0; }
    .gform_wrapper .gform_footer input[type="submit"]:hover {
      border-color: #e71d1d;
      background-color: #e71d1d; }

body.home h1.post-title {
  display: none !important; }

.posts-box-5.posts-box-related-posts {
  padding-right: 15px;
  padding-left: 15px; }

body.logged-in .hide-when-logged-in {
  display: none; }

body:not(.logged-in) .hide-when-logged-out {
  display: none; }

body.page .fimg-fw .fimg-inner {
  min-height: 150px; }

@media only screen and (min-width: 768px) {
  .has-nav-menu .alternate-hierarchy {
    float: right; } }

/*# sourceMappingURL=barcelona-child.css.map */
